@use "../abstracts/variables" as *;


// ========================================
// Status Badge
// ========================================

.badge {
    display: inline-flex;
    align-items: center;

    padding: 5px 10px;

    border-radius: 20px;

    font-size: 12px;
    font-weight: 600;


    // Active
    &--active {
        background-color: #dcfce7;
        color: $success-color;
    }


    // Review
    &--review {
        background-color: #fef3c7;
        color: #b45309;
    }
}